html {
  color: #F8F9F9;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #161515;
}

header {
  padding: 1em;
  background: black;
}

header > .container > h3 {
  width: fit-content;
  margin: auto;
}

.container {
  /*border: .2em solid #808B96;
  margin: 1em;
  width: fit-content;*/
}

h3 {
  text-align: center;
  font-size: 2em;
  margin-top: 2em;
}

input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: .01em solid #808B96;
  outline: 0;
  font-size: 1.5em;
  height: 2.7em;
  color: inherit;
}

button {
  display: block;
  width: 98%;
  font-size: 1.7em;
  height: 1.7em;
  background: black;
  color: inherit;
  margin: 1.7em auto;
  outline: 0;
  border: .02em solid #808B96;
  border-radius: .2em;
}

#msj {
  color: red;
  font-size: 1.5em;
  margin: -1em auto 1.5em auto;
  width: fit-content;
}

p {
  width: fit-content;
  margin: -1em auto .5em auto;
  font-size: 1.3em;
}

a {
  border-radius: .2em;
  background-color: black;
  text-decoration: none;
  margin: auto;
  display: block;
  width: fit-content;
  color: inherit;
  font-size: 1.1em;
  padding: .5em;
}

@media (min-width: 992px) {

  main > .container {
    width: 50%;
    margin: 1em auto;
    padding: 2em;
    border: .3em solid;
    border-radius: .3em;
  }

}

@media (min-width: 1200px) {

  main > .container {
    width: 30em;
    margin: 4em auto;
  }

}
