#icon_menu {
  position: absolute;
  top: 1em;
  left: 0.1em;
  font-size: 2em;
}

nav {
  /*border: 1px solid;*/
  position: absolute;
  top: 4.1em;
  left: -110%;
  transition: all 1s;
  background-color: black;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fas {
  font-size: 1.6em;
  margin: 0 .3em 0 0;
}

li {
  padding: .5em;
  border-top: .01em solid #fff;
}

ul > li > a {
  color: inherit;
  font-size: 1.5em;
}

.abrir_cerrar {
  left: .01em;
}
